<!DOCTYPE html>
<html>
  <head>
    <title>RiadosAuto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="pt-5">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Riados Auto</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#"><%= link_to 'Vehicles', root_path, style: 'color:#000;' 'text-decoration: none;' 'padding-top: 10px' %></a>
            <a class="nav-item nav-link active" href="#"><%= link_to 'About Us', about_path, style: 'color:#000;' 'text-decoration: none;' 'padding-top: 10px' %></a>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
